---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import Resume from "../components/Resume.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const software_devs = await getCollection("software");
const education_outreach = await getCollection("education");
const research = await getCollection("research");
---

<BaseLayout>
  <div class="pb-12 mt-5" id="about">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold text-primary">I'm Alicia Thoney</div>
    <div class="text-3xl py-3 font-bold">
      Passionate Problem-Solver | Graduate Student
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm currently pursuing a Master of Science in Computer Engineering at
        the University of Central Florida, and I have my Bachelor of Science in
        Computer Science. My passion lies not just in building innovative
        solutions but also in empowering the next generation of technologists
        through education. Whether it's mentoring students in programming
        fundamentals or deep-diving into advanced digital systems, I'm committed
        to making technology accessible and exciting for everyone.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/aliciathoney/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/A_Thoney_CV.pdf" target="_blank" class="btn btn-outline ml-5">
        View CV
      </a>
    </div>
  </div>

  <!-- Educational Outreach -->
  <div id="education-outreach" class="mb-10">
    <div class="flex flex-row">
      <div class="text-3xl font-bold mb-2">Educational Outreach</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ms-2 mt-2"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24"
        height="24"
      >
        <path
          d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
        ></path>
        <path
          d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
        ></path>
        <path
          d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"
        ></path>
      </svg>
    </div>
    <text
      >Empowering the next generation of technologists with engaging curriculum</text
    >
    {
      education_outreach.map((project, i) => (
        <>
          <HorizontalCard
            title={project.data.title}
            img={project.data.heroImage}
            desc={project.data.description}
            url={project.data.url}
            years={project.data.years}
            loading={i < 2 ? "eager" : undefined}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </div>
  <!-- Software Development -->
  <div class="pb-12 mt-5" id="software-dev">
    <div class="flex flex-row">
      <div class="text-3xl font-bold mb-2">Software Development</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ms-2 mt-2"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24"
        height="24"
      >
        <path
          fill-rule="evenodd"
          d="M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm14.25 6a.75.75 0 0 1-.22.53l-2.25 2.25a.75.75 0 1 1-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 1 1 1.06-1.06l2.25 2.25c.141.14.22.331.22.53Zm-10.28-.53a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 1 0 1.06-1.06L8.56 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-2.25 2.25Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <text>A mix of client projects and passion-driven creations</text>

    {
      software_devs.map((project, i) => (
        <>
          <HorizontalCard
            title={project.data.title}
            img={project.data.heroImage}
            desc={project.data.description}
            tags={project.data.tags}
            url={project.data.url}
            loading={"lazy"}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </div>

  <!-- Research -->
  <div id="research" class="mb-10">
    <div class="flex flex-row">
      <div class="text-3xl font-bold mb-2">Research</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ms-2 mt-2"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24"
        height="24"
      >
        <path
          d="M11.625 16.5a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75Z"
        ></path>
        <path
          fill-rule="evenodd"
          d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm6 16.5c.66 0 1.277-.19 1.797-.518l1.048 1.048a.75.75 0 0 0 1.06-1.06l-1.047-1.048A3.375 3.375 0 1 0 11.625 18Z"
          clip-rule="evenodd"></path>
        <path
          d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z"
        ></path>
      </svg>
    </div>
    <text>
      Advancing innovation through curiosity-driven exploration and applied
      solutions
    </text>
    {
      research.map((project, i) => (
        <>
          <HorizontalCard
            title={project.data.title}
            img={project.data.heroImage}
            desc={project.data.description}
            url={project.data.url}
            years={project.data.years}
            loading={"lazy"}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </div>

  <div id="resume">
    <Resume />
  </div>
  <!-- <div id="press">
    <Press />
  </div> -->
</BaseLayout>
